body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: aqua;
  max-width: 900px;
  height: 30px;
  margin: auto;
}

.form {
  display: none;
  grid-template-columns: 100px 1fr;
  align-items: start;
  row-gap: 10px;
  margin: auto;
  width: 300px;
  padding: 20px;
  /* height: 400px; */
  background-color: gray;
}

.form input {
  align-self: start;
}

.form button {
  width: 100px;
  justify-self: center;
  grid-column: 1/3;
}
